.mixin.out
.vscode
emi.json
rhino.local.properties
README.md
patchouli_data.json
options.txt
minecraftinstance.json
.curseclient
saves/
mods/
logs/
local/
journeymap/
backups/
ESM/
usercache.json
usernamecache.json
crash-reports/
quests_structures
modernfix/structureCacheV1
resourcepacks
user-prefs.json
servers.dat_old
screenshots
shaderpacks
datapacks
downloads
config/packetfixer.properties
config/powah.json5